### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).

* The age group of 35-39 spends more per item having the highest average purchase price of \\$3.6 dollars. 

* User Lisosia93 has highest total purchase \\$18.96 with purchase count of 5, and average total price of \\$3.79.

* The most popular item is 'Final Critic', which has been purchsed the most (13 times), and also has the hightest total purchse value of \\$59.99 followed by item 'Oathbreaker, Last Hope of the Breaking Storm', purchased 12 times with second highest total purchase value of \\$50.76.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# total number of players

column_name = ['Total Player']
total_players = (purchase_data['SN']).nunique()
total_players_df = pd.DataFrame({"Total Number" : [total_players]})
total_players_df

   Total Number
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of Unique Items
unique_items_df = (purchase_data['Item ID']).nunique()
Average_price_df = (purchase_data['Price']).mean()
total_purchase_df = (purchase_data['Purchase ID']).nunique()
total_revenue_df = (purchase_data['Price']).sum()
column_name = ['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue']

#creating and displaying summary Dataframe that holds the values and data cleaner formating
summary_df = pd.DataFrame({"Number of Unique Items" : [unique_items_df] ,
                            "Average Price" : '${:.2f}'.format(Average_price_df),
                            "Number of Purchases" : [total_purchase_df],
                            "Total Revenue" : '${:.2f}'.format(total_revenue_df)
                          })

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#groupby gender
groupby_gender=purchase_data.groupby(['Gender'])

#counting total number of gender
gender_count =groupby_gender['SN'].nunique()
Total_gender_count = gender_count.sum()

#count and percent of male
male_count_df = gender_count['Male']
male_percent_df = (male_count_df/Total_gender_count) * 100

#count and percent of female
female_count_df = gender_count['Female']
female_percent_df = (female_count_df/Total_gender_count) * 100

#count and percent of #count and percent of female
other_count_df = gender_count['Other / Non-Disclosed']
other_percent_df = (other_count_df/Total_gender_count) * 100

#creating summary dataframe to store values and used data cleaner formatting
summary_gender_df =pd.DataFrame(gender_count)
summary_gender_df['Percentage']= ['{:.2f}%'.format(female_percent_df), '{:.2f}%'.format(male_percent_df), '{:.2f}%'.format(other_percent_df)]
summary_gender_df.columns= ['Total Count' , 'Percentage of Players']

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#average purchase price by gender
average_purchase = groupby_gender['Price'].mean()
#average_purchase= '{:.2f}%'.format(average_purchase)

#purchase count by gender
purchase_count = groupby_gender['Purchase ID'].count()

#average purchase total per person by gender
total_purchase = groupby_gender['Price'].sum()
avg_total_purchase = (total_purchase/gender_count)


#summary dataframe to hold the results
summary_average_df = pd.DataFrame({"Purchase Count" : purchase_count,
                                    "Average Purchase Price" :average_purchase,
                                     "Total Purchase Value" : total_purchase,
                                      "Avg Total Purchase per Person" : avg_total_purchase
                                  })

#used data cleaner formatting in summary dataframe
summary_average_df.style.format({"Average Purchase Price": "${:0,.2f}",
                                "Total Purchase Value": "${:0,.2f}",
                                "Avg Total Purchase per Person": "${:0,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#copying original value 
bin_df = purchase_data.copy()

#creating bin for ages
bins = [0, 9, 14, 20, 24, 29, 34, 39, 99999]

#creating group names
group_name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bin_df["New Age"] = pd.cut(bin_df["Age"], bins, labels=group_name)

#calculating number and percentage by age group
group_age = bin_df.groupby("New Age")
total_count_age = group_age["SN"].nunique()
percentage_age = (total_count_age/total_players) * 100

#displaying age demographic in table
age_demographics = pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percentage_age})

#rounding  the percentage column to two decimal points and used data cleaner formatting
age_demographics.style.format({"Percentage of Players" : "{:0,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#purchase count by of bin data frame by age
purchase_count_bin = group_age['Age'].count()
#average purchase by of bin data frame by age
average_purchase_bin = group_age['Price'].mean()
#total purchase by of bin data frame by age
total_purchase_bin = group_age['Price'].sum()
avg_total_purchase_bin = (total_purchase_bin/total_count_age)



#summary dataframe to hold the results
summary_age_df = pd.DataFrame({"Purchase Count" : purchase_count_bin,
                                    "Average Purchase Price" : average_purchase_bin,
                                     "Total Purchase Value" : total_purchase_bin,
                                      "Avg Total Purchase per Person" : avg_total_purchase_bin
                                  })

#used data cleaner formatting in summary dataframe
summary_age_df.style.format({"Average Purchase Price" : "${:0,.2f}",
                                "Total Purchase Value" : "${:0,.2f}",
                                "Avg Total Purchase per Person" : "${:0,.2f}"
                               
    
                                })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#groupinng the column SN
group_sn= purchase_data.groupby('SN')

#calculate Purchase Count, Average Purchase Price and Total Purchase Value
purchase_count_bin = group_sn['Age'].count()
average_purchase_bin = group_sn['Price'].mean()
total_purchase_bin = group_sn['Price'].sum()


#creating dataframe that hold values
Top_spenders = pd.DataFrame({"Purchase Count" : purchase_count_bin,
                                    "Average Purchase Price" : average_purchase_bin,
                                     "Total Purchase Value" : total_purchase_bin,
                                  
                                  })


#Sorting the total purchase value column in descending order
Top_spenders = Top_spenders.sort_values("Total Purchase Value", ascending = False)


#displaying dataframe and used data cleaner formatting

Top_spenders.head().style.format({"Average Purchase Price" : "${:0,.2f}",
                            "Total Purchase Value" : "${:0,.2f}"
                           
    
                        })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#using groupby grouping the item ID
group_item_id= purchase_data.groupby(['Item ID', 'Item Name'])

#using loc retrieving iten Id, name and price column
popular_item_df = purchase_data.loc[:,["Item ID","Item Name","Price"]]
popular_item_df

#calculate purchase count , item price and total price value
purchase_count_bin = group_item_id['Age'].count()
total_purchase_bin = group_item_id['Price'].sum()
item_price_bin =group_item_id['Price'].mean()
total_purchase_bin

#creating dataframe that hold values
Most_popular_df = pd.DataFrame({"Purchase Count" : purchase_count_bin,
                                    "Item Price" : item_price_bin,
                                     "Total Purchase Value" : total_purchase_bin,
                                  
                                  })


#Sorting the total purchase value column in descending order
Most_popular_df = Most_popular_df.sort_values("Purchase Count", ascending = False)


#Displaying a preview of the summary data frame and used data cleaner formatting
Most_popular_df.head().style.format({ "Item Price" : "${:0,.2f}",
                                     "Total Purchase Value" :"${:0,.2f}"
                                     
    
                                  })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
#Sort the above table by most popular value in descending order
Most_popular_df = Most_popular_df.sort_values("Total Purchase Value", ascending = False)


#Displaying a preview of the data frame and used data cleaner formatting
Most_popular_df.head().style.format({ "Item Price" : "${:0,.2f}",
                                     "Total Purchase Value" :"${:0,.2f}"
                                      })